@mixin responsive($param){
    @media only screen and (max-width: $param) {
        @content;
    }
}
@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin titleh1 {
    font-size: 30px;
    font-family: mtavrulibold;
    color: #454A4A;
}
@mixin titleh3 {
    font-size: 20px;
    font-family: mtavrulibold;
    color: #454A4A;
}
@mixin sectionP {
    font-size: 16px;
    color: #454A4A;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto_geo_nuswebfont.ttf);
}
@font-face {
    font-family: mtavruli;
    src: url(../fonts/TBCDinMtavruli.ttf);
}
@font-face {
    font-family: mtavrulibold;
    src: url(../fonts/TBCDinMtavruli_bold.ttf);
}
@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Linotype-Helvetica-Neue-World-75-Bold.ttf);
}
@font-face {
    font-family: helvetica-normal;
    src: url(../fonts/Linotype-Helvetica-Neue-World-55-Roman.ttf);
}
@font-face {
    font-family: helvetica;
    src: url(../fonts/Linotype-Helvetica-Neue-World-45Lt.ttf);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    }
    input[type=date]::-webkit-inner-spin-button, 
    input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    } 
}
body {
    font-family: roboto;
}
.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 10px;
}
.headerContent {
    @include flexbox(row);
    justify-content: space-between;
    width: 100%;
    height: 150px;
}
.headerTel {
    @include flexbox(row);
    width: 350px;
    height: 33px;
    border-left: 2px solid #4346A4;
    padding-left: 66px;
    margin-left: 80px;
    margin-right: 58px;
    @include responsive(1580px) {
        margin-right: 5px;
        margin-left: 20px;
        padding-left: 0;
    }
    @include responsive(1460px) {
        border-left: none;
    }
    @include responsive(1000px) {
        width: 42px;
        margin-right: 10px;
    }
    .header-phone-number {
        color: #454A4A;
        font-size: 20px;
        font-family: roboto;
        font-weight: bold;
    }
}
.fa-phone-alt {
    color: #1FB26F;
    height: 44px;
    width: 44px;
    background: rgba(31, 178, 111, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    @include responsive(1000px) {
        margin-right: 0;
    }
}
.header-phone-number {
    @include responsive(1000px) {
        display: none;
    } 
}
.headerTel img {
   margin-right: 20px;
   cursor: pointer;
   transition: 0.3s ease;
//    transform: rotate(135deg);
}


.headerSocialLogo {
    @include flexbox(row);
}
.headerYoutube {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #FF2424;
    box-shadow: 0 0 0 5px #FFCACA, 0 0 0 10px #FFE8E8;
    transition: 0.3s ease;
    &:hover {
        box-shadow: none;
        transition: 0.5s ease;
    }
    @include responsive(1000px) {
        box-shadow: none;
        margin: 0 10px;
    }
}
.headerFb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #367DEF;
    box-shadow: 0 0 0 5px #CFE1FC, 0 0 0 10px rgb(229, 238, 253);
    &:hover {
        box-shadow: none;
        transition: 0.5s ease;
    }
    @include responsive(1000px) {
        box-shadow: none;
    }
}
.headerLinesBox {
   width: 484px;
   margin-right: 48px;
   @include responsive(1460px) {
    display: none;
}
}
.headerLanguageBox {
    width: 155px;
    height: 48px;
    position: relative;
}
    .headerLanguageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        border-radius: 24px;
        background: #fff;
        overflow: hidden;
        height: 47px;
        border: 1px solid; 
        top: 0; 
        transition: 0.9s ease;
        &:hover {
            height: 147px;
            border-radius: 8px;
            transition: 0.9s ease;
            .languageArrow{
                transform: rotate(-180deg);
            }
        }
        a.active {
            order: -1;
            color: #454A4A;
        }
        a.active .languageArrow{
            display: inline-block;
        }
        a {
            display: flex;
            align-items: center;
            color: rgba(69,74,74, 0.3);
            font-size: 15px;
            font-family: mtavrulibold;
            text-align: center;
            padding: 14px 0;
            &:hover {
                color: #454A4A;
                transition: 0.3s ease;
            }
            .languageArrow{
                display: none;
                margin-left: 20px;
                font-size: 12px;
            }
        }
}
.header-content-left-side, .header-content-right-side, .header-social-logo-box {
    display: flex;
    align-items: center;
}
.headerNav {
    background: #102943;
}
.navigationBox {
    margin: 0;
    display: flex;
    align-items: center;
    height: 65px;
}
.firstNavContent {
    padding: 22px 40px;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    font-size: 16px;
    font-family: mtavrulibold;
    &:hover {
     opacity: 1;
     background: #233A52;
    }
}
.firstNavContentMain {
    background: #233A52;
    opacity: 1;
}
.loans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 40px;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    font-size: 16px;
    font-family: mtavrulibold;
    width: 100%;
    transition: 0.5s ease;
    &:hover {
     color: #000000;
     background: #fff;
     opacity: 1;
     transition: 0.5s ease;
    }
}
.loansArrow {
    margin-left: 3.5px;
    font-size: 10px;
}
.openHeaderDropDown {
  position: relative;
  &:hover .dropDownContent {
            // display: flex;
            transform: perspective(1000px) rotateX(0deg);
            transition: 0.5s ease;
  }
  &:hover .loansArrow  {
    transform: rotate(-180deg);
    transition: 0.5s ease;
}
}
.openHeaderDropDown {
    &:hover .loans {
      background: #fff;
      opacity: 1;
      color: #000000;
  }
}
.dropDownContent {
    flex-direction: column;
    background: #fff;
    padding: 18px;
    width: 237px;
    position: absolute;
    top: 64px;
    z-index: 9;
    transform-origin: top;
    transition: 0.5s ease;
    transform: perspective(1000px) rotateX(-90deg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    li {
        margin-bottom: 16px;
    }
    a {
        color: #000000;
        opacity: 0.6;
        font-size: 15px;
        font-family: mtavruli;
        &:hover {
            opacity: 1;
        }
    }
}
main {
    position: relative;
    .mainImgBox {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 668px;
            width: 100%;
            background: #102943;
            opacity: 0.6;
            z-index: 1;
        }  
    }
    .mainImg {
        display: block;
        width: 100%;
        height: 668px;
    }

    .mainText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: #fff;
        text-align: center;
        h1 {
            font-size: 50px;
            font-family: mtavrulibold;
        }
        p {
            margin-top: 40px;
            margin-bottom: 60px;
            width: 818px;
            font-size: 18px;
            font-family: roboto;
        }
        span {
            padding: 15px 24px 17px 24px;
            border-radius: 5px;
            font-size: 18px;
            font-family: mtavrulibold;
        }
        .getLoan {
            background: #E2574C;
            cursor: pointer;
            transition: 0.5s ease;
            &:hover {
                background: #C13E34;
                transition: 0.5s ease;
            }
        }
        .learnMore {
            border: 1px solid #707070;
            transition: 0.5s ease;
            cursor: pointer;
            &:hover {
                color: #1D1D1D;
                background: #fff;
                border: none;
                transition: 0.5s ease;
            }
        }
    }
}
.swiper-pagination {
    position: static;
}
.swiper-pagination span {
    background: #fff !important;
    padding: 7px;
    outline: none;
    margin-right: 15px;
}
.mainFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 120px;
    z-index: 100;
    .mainSliderArrrow span {
        border-radius: 50%;
        border: 1px solid #fff;
        color: #fff;
        padding: 22px 25px;
        outline: none;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
            background: #9e9c9c;
            color: #181818;
            transition: 0.5s ease;
            border: none;
        }
    }
    .mainSliderLeft {
        margin-right: 16px;
    }
    .pageNumber {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .currentNumberBox {
        font-size: 62px;
        font-family: mtavrulibold;
        color: #fff;
        margin-right: 11px;
        position: relative;
        width: 68px;
        height: 68px;
        overflow: hidden; 
        ul {
            position: absolute;
            width: 100%;
            height: 204px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            
            top: 0; 
            transition: 0.9s ease;
        }
    }
    .wholeImgNumber {
        font-size: 27px;
        color: #707070;
    }
}
.h1title {
    @include titleh1;
}
.h3title {
    @include titleh3;
}
.sectionP {
    @include sectionP;
}
.firstSectionContent {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
    .gridBoxLeft {
        width: 984px;
        .newsBox {
            display: flex;
            border: 2px solid #D8D6D6;
            border-radius: 10px;
            position: relative;
            margin: 60px 0;
            .sectionImg {
                position: relative;
                right: 24px;
                bottom: 26px;
            }
            .newsLearMore {
                position: absolute;
                bottom: -10px;
                right: -10px;
                padding: 17px 35px 18px 35px;
                background: #1FB26F;
                color: #fff;
                border-radius: 10px;
                font-family: mtavrulibold;
                font-size: 16px;
                cursor: pointer;
                transition: 0.5s ease;
                &:hover {
                    background: #1C8857;
                    transition: 0.5s ease;
                }
            }
            .newsTextBox {
                padding: 25px 45px;
                h3 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .gridBoxRight {
        width: 481px;
        text-align: center;
    }
        .calculatorBox {
            background: #F4F4F4;
            border-radius: 10px;
            margin-bottom: 50px;
            margin-top: 30px;
        }
            .calculatorTextP {
                font-size: 15px;
                font-family: roboto;
                color: #454A4A;
                margin-bottom: 16px;
            }
            .calculatorInput {
                font-size: 18px;
                color: #454A4A;
                font-family: roboto;
                background: #fff;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-weight: bold;
                width: 108px;
                text-align: center;
                outline: none;
                border: none;
            }
            .calculatorGetLoan {
                padding: 30px 0;
                border-bottom: 1.5px solid #E1E1E1;
                margin-bottom: 40px;
                .loanEasy {
                    margin-right: 108px;
                    padding: 30px 0;
                    font-size: 18px;
                    color: #707070;
                    font-family: mtavrulibold;
                    cursor: pointer;
                    &:hover {
                        color: #454A4A;
                        border-bottom: 1.5px solid #E2574C;

                    }
                }
                .anuiteti {
                    padding: 30px 0;
                    font-size: 18px;
                    font-family: mtavrulibold;
                    color: #707070;
                    cursor: pointer;
                    &:hover {
                        color: #454A4A;
                        border-bottom: 1.5px solid #E2574C;

                    }
                }
                
            }
            .calculatorLoanConditions {
                display: flex;
                justify-content: space-around;
                margin-bottom: 40px;
            }
            .getLoanDate {
                display: flex;
                justify-content: space-around;
                margin-bottom: 30px;
                position: relative;
                .attention {
                   display: none;
                   text-align: left;
                   align-items: center;
                   width: 288px;
                   height: 104px;
                   background: #2D2F2F;
                   color: #fff;
                   position: absolute;
                   font-size: 14px;
                   font-family: roboto;
                   color: #C0C1C1;
                   padding: 18px;
                   border-radius: 10px;
                   right: 50px;
                   bottom: -10px;
                   &::before {
                       content: '';
                       border-width: 10px;
                       border-color:  #2D2F2F transparent transparent transparent;
                       border-style: solid;
                       position: absolute;
                       bottom: -20px;
                       right: 25px;
                   }
                }
                input:nth-child(2) {
                    margin-bottom: 20px;
                    width: 198px;
                    appearance: none;
                }
            }
            .toCalculate {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 40px;
                :first-child {
                    padding: 20px 100px;
                    background: #E2574C;
                    border-radius: 5px;
                    color: #fff;
                    margin-right: 13px;
                    font-size: 18px;
                    font-family: mtavrulibold;
                    cursor: pointer;
                    transition: 0.5s ease;
                    &:hover {
                        background: #C13E34;
                        transition: 0.5s ease;
                    }
                }
                :nth-child(2){
                    padding: 15px 35px 17px 35px;
                    border: 1px solid #E0E0E0;
                    border-radius: 5px;
                    font-size: 24px;
                    font-family: mtavrulibold;
                    color: #454A4A;
                    cursor: pointer;
                }
            }
        .exchangeRate {
            background: #F4F4F4;
            border-radius: 10px;
            margin-bottom: 50px;
            margin-top: 30px;
            .nationalBankBox {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 20px;
                padding-top: 31px;
                span {
                    font-size: 17px;
                    font-family: roboto;
                    color: #454A4A;
                }
            }
            .currentExchangeRateBox {
                margin-top: 35px;
                padding-bottom: 50px;
                .exchangeAction {
                    margin-bottom: 35px;
                    span {
                        font-size: 16px;
                        color: #454A4A;
                        font-family: mtavrulibold;
                    }
                }
                .euro {
                    margin: 30px 0;
                }
                .euro img, .dollar img, .gbp img {
                    margin-right: 16px;
                }
                .euro span, .dollar span, .gbp span {
                    font-size: 18px;
                    color: #454A4A;
                    font-family: mtavrulibold;
                }
                div {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
                .sellMoney {
                    color: #1FB26F;
                    padding: 8px 17px 10px 17px;
                    background: #E4EFEA;
                    border-radius: 5px;
                    font-size: 18px;
                    font-family: mtavrulibold;
                }
                .buyMoney {
                    color: #E35E54;
                    padding: 8px 17px 10px 17px;
                    background: #F3E9E9;
                    border-radius: 5px;
                    font-size: 18px;
                    font-family: mtavrulibold;
                }
            }
        }
.get-loan-type-active {
    color: #454A4A;
    border-bottom: 1.5px solid #E2574C;
}
.howGetLoan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 108px;
    h1 {
        font-size: 32px;
        font-family: mtavrulibold;
    }
    .arrowBox {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .sectioArrowred {
        position: absolute;
        top: 3px;
        z-index: -1;
    }
}
.howGetLoanContent {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.howGetLoanBoxImg {
    width: 45%;
    img {
        width: 100%;
        height: 100%;
    }
}
.getLoanMethodBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 80px;
    width: 50%;
    .getLoanMethod {
        display: flex;
        align-items: flex-start;
        width: 744px;
        height: 124px;
        div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 46px;
            h3 {
                margin-bottom: 16px;
                font-size: 20px;
                font-family: mtavrulibold;
                color: #454A4A;
            }
            p {
                font-size: 16px;
                font-family: roboto;
                color: #454A4A;
            }
        }
        img {
            display: flex;
            align-items: flex-start;
        }
    }
}
footer {
    background: #F2F2F2;
    margin-top: 115px;
}
.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    .footerbox1 {
        display: flex;
        flex-direction: column;
        .footelLogobox {
            display: flex;
            align-items: center;
            p {
                font-size: 25px;
                font-family: mtavrulibold;
                margin-left: 20px;
            }
        }
        .rightDefender {
            font-size: 16px;
            color: #1D1D1D;
            font-family: roboto;
        }
    }
    .footerNavigation {
        width: 719px;
        ul {
            display: flex;
            justify-content: space-between;
            a {
                color: rgba( #292929, 0.6);
                font-family: mtavrulibold;
                transition: 0.3s ease;
                &:hover {
                    color: #1D1D1D;
                    transition: 0.3s ease;
                }
            }
            a.active {
                color: #1D1D1D; 
            }
        }
    }
    .footerSocialLogo {
        display: flex;
        .footerFb, .footerYoutube {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #1D1D1D;
            transition: 0.5s ease;
        }
        .footerYoutube:hover {
            background: #FF2424;
            transition: 0.5s ease;
        }
        .footerFb {
            margin-right: 20px;
        }
        .footerFb:hover {
            background: #367DEF;
            transition: 0.5s ease;
        }
    }
}
.create-by {
    font-size: 14px;
    color: #1D1D1D;
}
.smart-web-text {
    color: #8C3264;
    font-family: mtavrulibold;
}
.right-protection-box {
    height: 73px;
    background: #102943;
}
.right-protection-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
}

// about As 

.aboutas-box {
    min-height: calc(100vh - 563px);
    display: flex;
    margin-top: 70px;
    width: 90%;
}
.aboutas-img img {
    width: 700px;
    float: left;
    margin-right: 70px;
}
.aboutas-text-box {
    width: 624px;
}
.about-as-h1 {
    font-size: 48px;
    margin-bottom: 24px;
    font-family: mtavrulibold;
    color: #102943;
}
.about-as-text {
    font-size: 16px;
    color: #454A4A;
}

// news page 
.news-box {
    min-height: calc(100vh - 513px);
    width: 100%;
    margin-top: 70px;
}
.news-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 72px 16px;
    div {
        width: 496px;
        position: relative;
        grid-column-gap: 20px;
    }
}
.news-see-more-button {
    width: 172px;
    height: 49px;
    background: #17C593;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
    left: 43px;
    transition: 0.3s ease;
    z-index: 1;
    border: 1px solid #D1D1D1;
    &:hover {
        background: #fff;
        color: #17C593;
        transition: 0.3s ease;
    }
}
.news-title {
    font-size: 20px;
    font-family: mtavrulibold;
    color: #454A4A;
    margin-bottom: 14px;
}
.news-text {
   font-size: 16px;
    color: #454A4A;
}
.news-text-box {
    padding: 30px 10px 20px 10px;
    border: 2px solid #D1D1D1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    bottom: 5px;
}
.news-pagenation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
}
.pagenation-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    font-size: 16px;
    color: #848484;
    margin: 0px 3px;
    transition: 0.3s ease; 
    cursor: pointer;
    &:hover {
        background: #E2574C;
        color: #fff;
        transition: 0.3s ease; 
    }
}
.pagenation-text-active {
    background: #E2574C;
    color: #fff;
}
.fa-angle-double-right, .fa-angle-double-left {
    margin: 0 20px;
    cursor: pointer;
}

// news 2 page 
.news2-box {
    min-height: calc(100vh - 513px);
    margin-top: 100px;
}
.news2-content-box {
    margin-top: 52px;
}
.news2-h1 {
    font-size: 40px;
    color: #353D48;
    font-family: mtavrulibold;
}
.news2-img {
    float: left;
    margin-right: 54px;
    margin-bottom: 56px;
    width: 793px;
}

// contact page
.contact-box {
    min-height: calc(100vh - 513px);
    margin-top: 68px;
}
.contact-page-title {
    font-size: 32px;
    color: #102943;
    font-family: mtavrulibold;
    margin-bottom: 32px;
}
.contact-form-and-map-box {
    display: flex;
    justify-content: space-between;
}
.form-description-box {
    display: flex;
    justify-content: space-between;
}
.form-description {
    width: 49%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(16, 41, 67, 0.3);
    border: 1px solid rgba(16, 41, 67, 0.3);
    border-radius: 5px;
    font-family: mtavrulibold;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        color: #fff;
        background: #57697B;
        transition: 0.2s ease;
    }
}
.form-description-active {
    color: #fff;
    background: #57697B;
}
.contact-form-box {
    width: 35%;
}
.contact-map-address-box {
    width: 60%;
}
.contact-input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}
.contact-first-name, .contact-email {
    width: 100%;
    height: 100%;
    border: 1.5px solid rgba(16, 41, 67, 0.7);
    padding-left: 24px;
    border-radius: 5px;
    font-family: helvetica-bold;
}
.contact-email {
    border: 1.5px solid #E2574C;
    &::placeholder {
        color: #E2574C;
    }
}
.contact-user-icon-box, .contact-email-icon-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    background: #57697B;
    width: 64px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-email-icon-box {
    background:  #E2574C; 
}
.fa-user, .fa-envelope {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.contact-textarea {
    background: #F4F4F4;
    width: 100%;
    padding-top: 13px;
    padding-left: 24px;
    border: none;
    font-family: helvetica-bold;
}
.contact-roboto-box {
    width: 100%;
    height: 113px;
    margin: 10px 0;
    border: 1px solid #B7BEC6;
}
.contact-send-button-box {
    width: 100%;
    height: 60px;
}
.contact-send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    background: #1FB26F;
    border-radius: 5px;
    font-size: 14px;
    font-family: mtavrulibold;
    cursor: pointer;
}
.contact-pdf-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    border: 1.5px solid rgba(16, 41, 67, 0.3);
    transition: 0.2s ease;
    &:hover {
        background: #E2574C;
        border: 1.5px solid  #E2574C;
        transition: 0.2s ease;
        .contact-pdf-text {
            color: #fff;
        }
        .fa-file-pdf {
            color: #fff;
        }
    }
}
.contact-pdf-text {
    color: #1D1D1D;
    font-size: 14px;
    font-family: helvetica-bold;
}
.fa-file-pdf {
    color: #E2574C;
}
.contact-address-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
}
.contact-address-title {
    font-size: 16px;
    font-family: helvetica-bold;
    color: #102943;
}
.contact-address-p {
    font-size: 14px;
    color: #102943;
}
.contact-map-box {
    width: 100%;
    height: 550px;
}
.contact-footer {
    margin-top: 10px;
}

// loans page 
.loans-box {
    margin-top: 75px;
}
.loans-bottom-content-box {
    display: flex;
    // justify-content: space-between;
}
.loans-h1 {
    font-size: 40px;
    color: #353D48;
    font-family: mtavrulibold;
    margin-bottom: 32px;
}
.loans-img {
    height: 410px;
    width: 100%;
    margin-bottom: 32px;
}
.loans-left-side-box {
    width: 58%;
    margin-right: 58px;
}
.loans-left-side-h4 {
    font-size: 16px;
    font-family: helvetica-bold;
    color: #454A4A;
    margin-bottom: 6px;
    margin-top: 20px;
}
.loans-left-side-text, .loans-left-side-list {
    font-size: 16px;
    color: #454A4A;
    font-family: helvetica;
}
.loans-right-side-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loans-right-side-h2 {
    font-size: 20px;
    color: #102943;
    font-family: mtavrulibold;
    margin-bottom: 32px;
}
.loans-right-side-small-box {
    height: 150px;
    width: 100%;
    border: 1.5px solid #C4CAD0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.loans-right-side-small-img-box {
    height: 100%;
}
.loans-right-side-small-img {
    margin-top: 20px;
}
.loans-right-side-h5 {
    font-size: 18px;
    color: #102943;
    font-family: helvetica;
}
.loans-right-side-p {
    font-size: 15px;
    color: #102943;
    font-family: helvetica;
}
.fill-form-text-box {
    height: 56px;
    width: 100%;
    background: #1FB26F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

// business fill form
.fill-loan-form-img {
    height: 272px;
    width: 100%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(4, 13, 22, 0.56);
        z-index: 3;
    }
}
.fill-loan-main-box {
    min-height: calc(100vh - 755px);
}
.fill-loan-title-h1 {
    font-size: 30px;
    color: #7D8183;
    font-family: mtavrulibold;
    text-align: center;
    margin-top: 47px;
    margin-bottom: 44px;
}

input[type='radio']:after {
    width: 27px;
    height: 27px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #A8B7B0;
}
input[type='radio']:checked:after {
    width: 27px;
    height: 27px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1EAA6A;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.fill-loan-box-content {
    margin-bottom: 80px;
}
.fill-form-section-title-box {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
    margin-bottom: 39px;
}
.fill-form-section-h2 {
    font-size: 25px;
    color: #1FB26F;
    margin-left: 30px; 
    font-family: helvetica-normal;
}
.fill-form-input-up-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}
.fill-form-input-box {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.fill-form-input {
    height: 62px;
    width: 100%;
    border: 1.5px solid #57697B;
    border-radius: 5px;
    box-shadow: none;
    padding-left: 41px;
}
.fill-form-input-p {
    font-size: 15px;
    font-family: roboto;
    color: #535353;
    margin-bottom: 9px;
} 
.fill-form-input-box-section-2 {
    display: flex;
    width: 45%;
}
.fill-form-input-up-box-right-side {
    display: none; 
    align-items: center;
    justify-content: flex-end;
    margin-top: 53px; 
}
.fill-form-radio-botton-left-side-box-mortgage {
    display: none;
}
.fill-form-section2-radio-text {
    margin-left: 30px;
    color: #74787B;
    font-size: 20px;
    font-family: roboto;
}
.fill-form-section-big-box {
    width: 45%;
}
.fill-form-select-main-box  {
    width: 100%;
    height: 60px;
    position: relative;
}
.fill-form-select-box {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #57697B;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    transition: 0.6s ease;
    &:hover {
        height: 180px;
        transition: 0.6s ease;
        .fa-angle-down {
            transform: rotate(-180deg);
        }
    }
}
.fill-form-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 41px;
    font-size: 15px;
    color: #A7A7A7;
    font-family: roboto;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        color: #535353; 
        transition: 0.2s ease;
    }
}
.fill-form-select-text-active {
    color: #535353;
    display: flex;
    order: -1;
}
.fa-angle-down {
    color: #A7A7A7;
    display: none;
    &:hover {
        transform: rotate(-180deg);
    }
}
.fill-form-select-arrow-active {
    display: flex;
}
.fill-form-roboto-box {
    width: 100%;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 72px;
}
.fill-form-roboto {
    width: 529px;
    height: 100%;
    border: 1.5px solid #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.send-form-box {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-form {
    width: 672px;
    height: 100%;
    background: #1FB26F;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
// agro loan 
.fill-form-input-up-box-left-side {
    display: flex; 
    align-items: center;
    margin-top: 53px;
}
.fill-form-textarea-box {
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fill-form-textarea {
    height: 158px;
    width: 100%;
    border: 1.5px solid #57697B;
    border-radius: 5px;
    box-shadow: none;
    padding-left: 42px;
    padding-top: 20px;
}

// easy calculator page 
.easy-calculator-content {
    margin-top: 70px;
}
.easy-calculator-content-h1 {
    font-size: 48px;
    color: #102943;
    font-family: mtavrulibold;
    margin-bottom: 50px;
}
.easy-calculator-first-box-title {
    font-size: 18px;
    color: #102943;
    font-family: helvetica-bold;
    margin-bottom: 30px;
}
.easy-calculator-first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.loan-calculator-left-box {
    width: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
    div {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        :first-child {
            font-size: 15px;
            font-family: helvetica-normal;
            color: #102943;
        }
        :nth-child(2){
           font-size: 20px; 
           color: #3237CC;
           font-family: helvetica-bold;
        }
    }
}
.grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.loan-calculatorBox{
    background: #F4F4F4;
    border-radius: 10px;
}
.loan-calculator-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.loan-calculator-1-th {
    width: 5%;
}
.loan-calculator-2-th {
    width: 45%;
    font-size: 16px;
    color: #102943;
    font-family: helvetica-normal;
}
.loan-calculator-3-th {
    width: 40%;
    font-size: 16px;
    color: #102943;
    font-family: helvetica-normal;
}
.loan-calculator-1-tbody-section {
    height: 80px;
    border: 1.5px solid #EDEFF1;
    border-radius: 25px;
}
.tr-space {
    height: 10px;
}
.td-counter-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
    font-family: mtavrulibold; 
    color: #1FB26F;
    height: 48px;
    width: 48px;
    background: rgba(31, 178, 111, 0.1);
    border-radius: 50%;
}
 .td-payment-day, .td-payment-money {
    font-size: 18px;  
    color: #102943;
    font-family: mtavruli;
}

// annuity page 
.annuity-box {
    display: flex;
    width: 65%;
}
.annuity-calculator-left-box {
    width: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
    margin-right: 30px;
    position: relative;
    div {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        text-align: center;
        :first-child {
            font-size: 15px;
            font-family: helvetica-normal;
            color: #102943;
        }
        :nth-child(2){
           font-size: 20px; 
           color: #3237CC;
           font-family: helvetica-bold;
        }
    }
}

.annuity-box-title {
    position: absolute;
    left: 0;
    top: -66px;
    font-size: 18px;
    color: #102943;
    font-family: helvetica-bold;
    margin-bottom: 30px;
}
.annuity-calculator-1-th {
    width: 1%;
}
.annuity-calculator-2-th {
    width: 10%;
}
.annuity-calculator-3-th {
    width: 5%;
}