@font-face {
  font-family: roboto;
  src: url(../fonts/roboto_geo_nuswebfont.ttf);
}

@font-face {
  font-family: mtavruli;
  src: url(../fonts/TBCDinMtavruli.ttf);
}

@font-face {
  font-family: mtavrulibold;
  src: url(../fonts/TBCDinMtavruli_bold.ttf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(../fonts/Linotype-Helvetica-Neue-World-75-Bold.ttf);
}

@font-face {
  font-family: helvetica-normal;
  src: url(../fonts/Linotype-Helvetica-Neue-World-55-Roman.ttf);
}

@font-face {
  font-family: helvetica;
  src: url(../fonts/Linotype-Helvetica-Neue-World-45Lt.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* input[type=number]::-webkit-inner-spin-button,
* input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* input[type=date]::-webkit-inner-spin-button,
* input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: roboto;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 10px;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 150px;
}

.headerTel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 33px;
  border-left: 2px solid #4346A4;
  padding-left: 66px;
  margin-left: 80px;
  margin-right: 58px;
}

@media only screen and (max-width: 1580px) {
  .headerTel {
    margin-right: 5px;
    margin-left: 20px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1460px) {
  .headerTel {
    border-left: none;
  }
}

@media only screen and (max-width: 1000px) {
  .headerTel {
    width: 42px;
    margin-right: 10px;
  }
}

.headerTel .header-phone-number {
  color: #454A4A;
  font-size: 20px;
  font-family: roboto;
  font-weight: bold;
}

.fa-phone-alt {
  color: #1FB26F;
  height: 44px;
  width: 44px;
  background: rgba(31, 178, 111, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .fa-phone-alt {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .header-phone-number {
    display: none;
  }
}

.headerTel img {
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.headerSocialLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerYoutube {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #FF2424;
  -webkit-box-shadow: 0 0 0 5px #FFCACA, 0 0 0 10px #FFE8E8;
          box-shadow: 0 0 0 5px #FFCACA, 0 0 0 10px #FFE8E8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.headerYoutube:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media only screen and (max-width: 1000px) {
  .headerYoutube {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 10px;
  }
}

.headerFb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #367DEF;
  -webkit-box-shadow: 0 0 0 5px #CFE1FC, 0 0 0 10px #e5eefd;
          box-shadow: 0 0 0 5px #CFE1FC, 0 0 0 10px #e5eefd;
}

.headerFb:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media only screen and (max-width: 1000px) {
  .headerFb {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.headerLinesBox {
  width: 484px;
  margin-right: 48px;
}

@media only screen and (max-width: 1460px) {
  .headerLinesBox {
    display: none;
  }
}

.headerLanguageBox {
  width: 155px;
  height: 48px;
  position: relative;
}

.headerLanguageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
  height: 47px;
  border: 1px solid;
  top: 0;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}

.headerLanguageContent:hover {
  height: 147px;
  border-radius: 8px;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}

.headerLanguageContent:hover .languageArrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.headerLanguageContent a.active {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #454A4A;
}

.headerLanguageContent a.active .languageArrow {
  display: inline-block;
}

.headerLanguageContent a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(69, 74, 74, 0.3);
  font-size: 15px;
  font-family: mtavrulibold;
  text-align: center;
  padding: 14px 0;
}

.headerLanguageContent a:hover {
  color: #454A4A;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.headerLanguageContent a .languageArrow {
  display: none;
  margin-left: 20px;
  font-size: 12px;
}

.header-content-left-side, .header-content-right-side, .header-social-logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNav {
  background: #102943;
}

.navigationBox {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.firstNavContent {
  padding: 22px 40px;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 16px;
  font-family: mtavrulibold;
}

.firstNavContent:hover {
  opacity: 1;
  background: #233A52;
}

.firstNavContentMain {
  background: #233A52;
  opacity: 1;
}

.loans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 40px;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 16px;
  font-family: mtavrulibold;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.loans:hover {
  color: #000000;
  background: #fff;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.loansArrow {
  margin-left: 3.5px;
  font-size: 10px;
}

.openHeaderDropDown {
  position: relative;
}

.openHeaderDropDown:hover .dropDownContent {
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.openHeaderDropDown:hover .loansArrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.openHeaderDropDown:hover .loans {
  background: #fff;
  opacity: 1;
  color: #000000;
}

.dropDownContent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 18px;
  width: 237px;
  position: absolute;
  top: 64px;
  z-index: 9;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: perspective(1000px) rotateX(-90deg);
          transform: perspective(1000px) rotateX(-90deg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropDownContent li {
  margin-bottom: 16px;
}

.dropDownContent a {
  color: #000000;
  opacity: 0.6;
  font-size: 15px;
  font-family: mtavruli;
}

.dropDownContent a:hover {
  opacity: 1;
}

main {
  position: relative;
}

main .mainImgBox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 668px;
  width: 100%;
  background: #102943;
  opacity: 0.6;
  z-index: 1;
}

main .mainImg {
  display: block;
  width: 100%;
  height: 668px;
}

main .mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}

main .mainText h1 {
  font-size: 50px;
  font-family: mtavrulibold;
}

main .mainText p {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 818px;
  font-size: 18px;
  font-family: roboto;
}

main .mainText span {
  padding: 15px 24px 17px 24px;
  border-radius: 5px;
  font-size: 18px;
  font-family: mtavrulibold;
}

main .mainText .getLoan {
  background: #E2574C;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .mainText .getLoan:hover {
  background: #C13E34;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .mainText .learnMore {
  border: 1px solid #707070;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

main .mainText .learnMore:hover {
  color: #1D1D1D;
  background: #fff;
  border: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination span {
  background: #fff !important;
  padding: 7px;
  outline: none;
  margin-right: 15px;
}

.mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  bottom: 120px;
  z-index: 100;
}

.mainFooter .mainSliderArrrow span {
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  padding: 22px 25px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mainFooter .mainSliderArrrow span:hover {
  background: #9e9c9c;
  color: #181818;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: none;
}

.mainFooter .mainSliderLeft {
  margin-right: 16px;
}

.mainFooter .pageNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainFooter .currentNumberBox {
  font-size: 62px;
  font-family: mtavrulibold;
  color: #fff;
  margin-right: 11px;
  position: relative;
  width: 68px;
  height: 68px;
  overflow: hidden;
}

.mainFooter .currentNumberBox ul {
  position: absolute;
  width: 100%;
  height: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  top: 0;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}

.mainFooter .wholeImgNumber {
  font-size: 27px;
  color: #707070;
}

.h1title {
  font-size: 30px;
  font-family: mtavrulibold;
  color: #454A4A;
}

.h3title {
  font-size: 20px;
  font-family: mtavrulibold;
  color: #454A4A;
}

.sectionP {
  font-size: 16px;
  color: #454A4A;
  font-family: roboto;
}

.firstSectionContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gridBoxLeft {
  width: 984px;
}

.gridBoxLeft .newsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #D8D6D6;
  border-radius: 10px;
  position: relative;
  margin: 60px 0;
}

.gridBoxLeft .newsBox .sectionImg {
  position: relative;
  right: 24px;
  bottom: 26px;
}

.gridBoxLeft .newsBox .newsLearMore {
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 17px 35px 18px 35px;
  background: #1FB26F;
  color: #fff;
  border-radius: 10px;
  font-family: mtavrulibold;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.gridBoxLeft .newsBox .newsLearMore:hover {
  background: #1C8857;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.gridBoxLeft .newsBox .newsTextBox {
  padding: 25px 45px;
}

.gridBoxLeft .newsBox .newsTextBox h3 {
  margin-bottom: 16px;
}

.gridBoxRight {
  width: 481px;
  text-align: center;
}

.calculatorBox {
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.calculatorTextP {
  font-size: 15px;
  font-family: roboto;
  color: #454A4A;
  margin-bottom: 16px;
}

.calculatorInput {
  font-size: 18px;
  color: #454A4A;
  font-family: roboto;
  background: #fff;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-weight: bold;
  width: 108px;
  text-align: center;
  outline: none;
  border: none;
}

.calculatorGetLoan {
  padding: 30px 0;
  border-bottom: 1.5px solid #E1E1E1;
  margin-bottom: 40px;
}

.calculatorGetLoan .loanEasy {
  margin-right: 108px;
  padding: 30px 0;
  font-size: 18px;
  color: #707070;
  font-family: mtavrulibold;
  cursor: pointer;
}

.calculatorGetLoan .loanEasy:hover {
  color: #454A4A;
  border-bottom: 1.5px solid #E2574C;
}

.calculatorGetLoan .anuiteti {
  padding: 30px 0;
  font-size: 18px;
  font-family: mtavrulibold;
  color: #707070;
  cursor: pointer;
}

.calculatorGetLoan .anuiteti:hover {
  color: #454A4A;
  border-bottom: 1.5px solid #E2574C;
}

.calculatorLoanConditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.getLoanDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  position: relative;
}

.getLoanDate .attention {
  display: none;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 104px;
  background: #2D2F2F;
  color: #fff;
  position: absolute;
  font-size: 14px;
  font-family: roboto;
  color: #C0C1C1;
  padding: 18px;
  border-radius: 10px;
  right: 50px;
  bottom: -10px;
}

.getLoanDate .attention::before {
  content: '';
  border-width: 10px;
  border-color: #2D2F2F transparent transparent transparent;
  border-style: solid;
  position: absolute;
  bottom: -20px;
  right: 25px;
}

.getLoanDate input:nth-child(2) {
  margin-bottom: 20px;
  width: 198px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.toCalculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.toCalculate :first-child {
  padding: 20px 100px;
  background: #E2574C;
  border-radius: 5px;
  color: #fff;
  margin-right: 13px;
  font-size: 18px;
  font-family: mtavrulibold;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toCalculate :first-child:hover {
  background: #C13E34;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toCalculate :nth-child(2) {
  padding: 15px 35px 17px 35px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: 24px;
  font-family: mtavrulibold;
  color: #454A4A;
  cursor: pointer;
}

.exchangeRate {
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.exchangeRate .nationalBankBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-top: 31px;
}

.exchangeRate .nationalBankBox span {
  font-size: 17px;
  font-family: roboto;
  color: #454A4A;
}

.exchangeRate .currentExchangeRateBox {
  margin-top: 35px;
  padding-bottom: 50px;
}

.exchangeRate .currentExchangeRateBox .exchangeAction {
  margin-bottom: 35px;
}

.exchangeRate .currentExchangeRateBox .exchangeAction span {
  font-size: 16px;
  color: #454A4A;
  font-family: mtavrulibold;
}

.exchangeRate .currentExchangeRateBox .euro {
  margin: 30px 0;
}

.exchangeRate .currentExchangeRateBox .euro img, .exchangeRate .currentExchangeRateBox .dollar img, .exchangeRate .currentExchangeRateBox .gbp img {
  margin-right: 16px;
}

.exchangeRate .currentExchangeRateBox .euro span, .exchangeRate .currentExchangeRateBox .dollar span, .exchangeRate .currentExchangeRateBox .gbp span {
  font-size: 18px;
  color: #454A4A;
  font-family: mtavrulibold;
}

.exchangeRate .currentExchangeRateBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exchangeRate .currentExchangeRateBox .sellMoney {
  color: #1FB26F;
  padding: 8px 17px 10px 17px;
  background: #E4EFEA;
  border-radius: 5px;
  font-size: 18px;
  font-family: mtavrulibold;
}

.exchangeRate .currentExchangeRateBox .buyMoney {
  color: #E35E54;
  padding: 8px 17px 10px 17px;
  background: #F3E9E9;
  border-radius: 5px;
  font-size: 18px;
  font-family: mtavrulibold;
}

.get-loan-type-active {
  color: #454A4A;
  border-bottom: 1.5px solid #E2574C;
}

.howGetLoan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 108px;
}

.howGetLoan h1 {
  font-size: 32px;
  font-family: mtavrulibold;
}

.howGetLoan .arrowBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.howGetLoan .sectioArrowred {
  position: absolute;
  top: 3px;
  z-index: -1;
}

.howGetLoanContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.howGetLoanBoxImg {
  width: 45%;
}

.howGetLoanBoxImg img {
  width: 100%;
  height: 100%;
}

.getLoanMethodBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 80px;
  width: 50%;
}

.getLoanMethodBox .getLoanMethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 744px;
  height: 124px;
}

.getLoanMethodBox .getLoanMethod div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 46px;
}

.getLoanMethodBox .getLoanMethod div h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-family: mtavrulibold;
  color: #454A4A;
}

.getLoanMethodBox .getLoanMethod div p {
  font-size: 16px;
  font-family: roboto;
  color: #454A4A;
}

.getLoanMethodBox .getLoanMethod img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer {
  background: #F2F2F2;
  margin-top: 115px;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

.footerContent .footerbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContent .footerbox1 .footelLogobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContent .footerbox1 .footelLogobox p {
  font-size: 25px;
  font-family: mtavrulibold;
  margin-left: 20px;
}

.footerContent .footerbox1 .rightDefender {
  font-size: 16px;
  color: #1D1D1D;
  font-family: roboto;
}

.footerContent .footerNavigation {
  width: 719px;
}

.footerContent .footerNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContent .footerNavigation ul a {
  color: rgba(41, 41, 41, 0.6);
  font-family: mtavrulibold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footerContent .footerNavigation ul a:hover {
  color: #1D1D1D;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footerContent .footerNavigation ul a.active {
  color: #1D1D1D;
}

.footerContent .footerSocialLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerContent .footerSocialLogo .footerFb, .footerContent .footerSocialLogo .footerYoutube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1D1D1D;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footerContent .footerSocialLogo .footerYoutube:hover {
  background: #FF2424;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footerContent .footerSocialLogo .footerFb {
  margin-right: 20px;
}

.footerContent .footerSocialLogo .footerFb:hover {
  background: #367DEF;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.create-by {
  font-size: 14px;
  color: #1D1D1D;
}

.smart-web-text {
  color: #8C3264;
  font-family: mtavrulibold;
}

.right-protection-box {
  height: 73px;
  background: #102943;
}

.right-protection-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 15px;
}

.aboutas-box {
  min-height: calc(100vh - 563px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  width: 90%;
}

.aboutas-img img {
  width: 700px;
  float: left;
  margin-right: 70px;
}

.aboutas-text-box {
  width: 624px;
}

.about-as-h1 {
  font-size: 48px;
  margin-bottom: 24px;
  font-family: mtavrulibold;
  color: #102943;
}

.about-as-text {
  font-size: 16px;
  color: #454A4A;
}

.news-box {
  min-height: calc(100vh - 513px);
  width: 100%;
  margin-top: 70px;
}

.news-grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 72px 16px;
}

.news-grid-box div {
  width: 496px;
  position: relative;
  grid-column-gap: 20px;
}

.news-see-more-button {
  width: 172px;
  height: 49px;
  background: #17C593;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 350px;
  left: 43px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
  border: 1px solid #D1D1D1;
}

.news-see-more-button:hover {
  background: #fff;
  color: #17C593;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.news-title {
  font-size: 20px;
  font-family: mtavrulibold;
  color: #454A4A;
  margin-bottom: 14px;
}

.news-text {
  font-size: 16px;
  color: #454A4A;
}

.news-text-box {
  padding: 30px 10px 20px 10px;
  border: 2px solid #D1D1D1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  bottom: 5px;
}

.news-pagenation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 114px;
}

.pagenation-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  font-size: 16px;
  color: #848484;
  margin: 0px 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.pagenation-text:hover {
  background: #E2574C;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.pagenation-text-active {
  background: #E2574C;
  color: #fff;
}

.fa-angle-double-right, .fa-angle-double-left {
  margin: 0 20px;
  cursor: pointer;
}

.news2-box {
  min-height: calc(100vh - 513px);
  margin-top: 100px;
}

.news2-content-box {
  margin-top: 52px;
}

.news2-h1 {
  font-size: 40px;
  color: #353D48;
  font-family: mtavrulibold;
}

.news2-img {
  float: left;
  margin-right: 54px;
  margin-bottom: 56px;
  width: 793px;
}

.contact-box {
  min-height: calc(100vh - 513px);
  margin-top: 68px;
}

.contact-page-title {
  font-size: 32px;
  color: #102943;
  font-family: mtavrulibold;
  margin-bottom: 32px;
}

.contact-form-and-map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-description {
  width: 49%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(16, 41, 67, 0.3);
  border: 1px solid rgba(16, 41, 67, 0.3);
  border-radius: 5px;
  font-family: mtavrulibold;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-description:hover {
  color: #fff;
  background: #57697B;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-description-active {
  color: #fff;
  background: #57697B;
}

.contact-form-box {
  width: 35%;
}

.contact-map-address-box {
  width: 60%;
}

.contact-input-box {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 10px 0;
}

.contact-first-name, .contact-email {
  width: 100%;
  height: 100%;
  border: 1.5px solid rgba(16, 41, 67, 0.7);
  padding-left: 24px;
  border-radius: 5px;
  font-family: helvetica-bold;
}

.contact-email {
  border: 1.5px solid #E2574C;
}

.contact-email::-webkit-input-placeholder {
  color: #E2574C;
}

.contact-email:-ms-input-placeholder {
  color: #E2574C;
}

.contact-email::-ms-input-placeholder {
  color: #E2574C;
}

.contact-email::placeholder {
  color: #E2574C;
}

.contact-user-icon-box, .contact-email-icon-box {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #57697B;
  width: 64px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-email-icon-box {
  background: #E2574C;
}

.fa-user, .fa-envelope {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.contact-textarea {
  background: #F4F4F4;
  width: 100%;
  padding-top: 13px;
  padding-left: 24px;
  border: none;
  font-family: helvetica-bold;
}

.contact-roboto-box {
  width: 100%;
  height: 113px;
  margin: 10px 0;
  border: 1px solid #B7BEC6;
}

.contact-send-button-box {
  width: 100%;
  height: 60px;
}

.contact-send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
  border: none;
  background: #1FB26F;
  border-radius: 5px;
  font-size: 14px;
  font-family: mtavrulibold;
  cursor: pointer;
}

.contact-pdf-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 5px;
  margin: 10px 0;
  border: 1.5px solid rgba(16, 41, 67, 0.3);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact-pdf-box:hover {
  background: #E2574C;
  border: 1.5px solid  #E2574C;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact-pdf-box:hover .contact-pdf-text {
  color: #fff;
}

.contact-pdf-box:hover .fa-file-pdf {
  color: #fff;
}

.contact-pdf-text {
  color: #1D1D1D;
  font-size: 14px;
  font-family: helvetica-bold;
}

.fa-file-pdf {
  color: #E2574C;
}

.contact-address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.contact-address-title {
  font-size: 16px;
  font-family: helvetica-bold;
  color: #102943;
}

.contact-address-p {
  font-size: 14px;
  color: #102943;
}

.contact-map-box {
  width: 100%;
  height: 550px;
}

.contact-footer {
  margin-top: 10px;
}

.loans-box {
  margin-top: 75px;
}

.loans-bottom-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loans-h1 {
  font-size: 40px;
  color: #353D48;
  font-family: mtavrulibold;
  margin-bottom: 32px;
}

.loans-img {
  height: 410px;
  width: 100%;
  margin-bottom: 32px;
}

.loans-left-side-box {
  width: 58%;
  margin-right: 58px;
}

.loans-left-side-h4 {
  font-size: 16px;
  font-family: helvetica-bold;
  color: #454A4A;
  margin-bottom: 6px;
  margin-top: 20px;
}

.loans-left-side-text, .loans-left-side-list {
  font-size: 16px;
  color: #454A4A;
  font-family: helvetica;
}

.loans-right-side-box {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loans-right-side-h2 {
  font-size: 20px;
  color: #102943;
  font-family: mtavrulibold;
  margin-bottom: 32px;
}

.loans-right-side-small-box {
  height: 150px;
  width: 100%;
  border: 1.5px solid #C4CAD0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.loans-right-side-small-img-box {
  height: 100%;
}

.loans-right-side-small-img {
  margin-top: 20px;
}

.loans-right-side-h5 {
  font-size: 18px;
  color: #102943;
  font-family: helvetica;
}

.loans-right-side-p {
  font-size: 15px;
  color: #102943;
  font-family: helvetica;
}

.fill-form-text-box {
  height: 56px;
  width: 100%;
  background: #1FB26F;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.fill-loan-form-img {
  height: 272px;
  width: 100%;
  position: relative;
}

.fill-loan-form-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 13, 22, 0.56);
  z-index: 3;
}

.fill-loan-main-box {
  min-height: calc(100vh - 755px);
}

.fill-loan-title-h1 {
  font-size: 30px;
  color: #7D8183;
  font-family: mtavrulibold;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 44px;
}

input[type='radio']:after {
  width: 27px;
  height: 27px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #A8B7B0;
}

input[type='radio']:checked:after {
  width: 27px;
  height: 27px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1EAA6A;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.fill-loan-box-content {
  margin-bottom: 80px;
}

.fill-form-section-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  margin-bottom: 39px;
}

.fill-form-section-h2 {
  font-size: 25px;
  color: #1FB26F;
  margin-left: 30px;
  font-family: helvetica-normal;
}

.fill-form-input-up-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.fill-form-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.fill-form-input {
  height: 62px;
  width: 100%;
  border: 1.5px solid #57697B;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 41px;
}

.fill-form-input-p {
  font-size: 15px;
  font-family: roboto;
  color: #535353;
  margin-bottom: 9px;
}

.fill-form-input-box-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

.fill-form-input-up-box-right-side {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 53px;
}

.fill-form-radio-botton-left-side-box-mortgage {
  display: none;
}

.fill-form-section2-radio-text {
  margin-left: 30px;
  color: #74787B;
  font-size: 20px;
  font-family: roboto;
}

.fill-form-section-big-box {
  width: 45%;
}

.fill-form-select-main-box {
  width: 100%;
  height: 60px;
  position: relative;
}

.fill-form-select-box {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1.5px solid #57697B;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.fill-form-select-box:hover {
  height: 180px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.fill-form-select-box:hover .fa-angle-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fill-form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 41px;
  font-size: 15px;
  color: #A7A7A7;
  font-family: roboto;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.fill-form-select:hover {
  color: #535353;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.fill-form-select-text-active {
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.fa-angle-down {
  color: #A7A7A7;
  display: none;
}

.fa-angle-down:hover {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fill-form-select-arrow-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fill-form-roboto-box {
  width: 100%;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
  margin-bottom: 72px;
}

.fill-form-roboto {
  width: 529px;
  height: 100%;
  border: 1.5px solid #848484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.send-form-box {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-form {
  width: 672px;
  height: 100%;
  background: #1FB26F;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fill-form-input-up-box-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 53px;
}

.fill-form-textarea-box {
  margin-top: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.fill-form-textarea {
  height: 158px;
  width: 100%;
  border: 1.5px solid #57697B;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 42px;
  padding-top: 20px;
}

.easy-calculator-content {
  margin-top: 70px;
}

.easy-calculator-content-h1 {
  font-size: 48px;
  color: #102943;
  font-family: mtavrulibold;
  margin-bottom: 50px;
}

.easy-calculator-first-box-title {
  font-size: 18px;
  color: #102943;
  font-family: helvetica-bold;
  margin-bottom: 30px;
}

.easy-calculator-first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.loan-calculator-left-box {
  width: 63%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
}

.loan-calculator-left-box div {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.loan-calculator-left-box div :first-child {
  font-size: 15px;
  font-family: helvetica-normal;
  color: #102943;
}

.loan-calculator-left-box div :nth-child(2) {
  font-size: 20px;
  color: #3237CC;
  font-family: helvetica-bold;
}

.grid-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.loan-calculatorBox {
  background: #F4F4F4;
  border-radius: 10px;
}

.loan-calculator-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.loan-calculator-1-th {
  width: 5%;
}

.loan-calculator-2-th {
  width: 45%;
  font-size: 16px;
  color: #102943;
  font-family: helvetica-normal;
}

.loan-calculator-3-th {
  width: 40%;
  font-size: 16px;
  color: #102943;
  font-family: helvetica-normal;
}

.loan-calculator-1-tbody-section {
  height: 80px;
  border: 1.5px solid #EDEFF1;
  border-radius: 25px;
}

.tr-space {
  height: 10px;
}

.td-counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.td-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: mtavrulibold;
  color: #1FB26F;
  height: 48px;
  width: 48px;
  background: rgba(31, 178, 111, 0.1);
  border-radius: 50%;
}

.td-payment-day, .td-payment-money {
  font-size: 18px;
  color: #102943;
  font-family: mtavruli;
}

.annuity-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
}

.annuity-calculator-left-box {
  width: 63%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
  margin-right: 30px;
  position: relative;
}

.annuity-calculator-left-box div {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  text-align: center;
}

.annuity-calculator-left-box div :first-child {
  font-size: 15px;
  font-family: helvetica-normal;
  color: #102943;
}

.annuity-calculator-left-box div :nth-child(2) {
  font-size: 20px;
  color: #3237CC;
  font-family: helvetica-bold;
}

.annuity-box-title {
  position: absolute;
  left: 0;
  top: -66px;
  font-size: 18px;
  color: #102943;
  font-family: helvetica-bold;
  margin-bottom: 30px;
}

.annuity-calculator-1-th {
  width: 1%;
}

.annuity-calculator-2-th {
  width: 10%;
}

.annuity-calculator-3-th {
  width: 5%;
}
/*# sourceMappingURL=style.css.map */